@import "variables";

@mixin notTouch {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

@mixin button {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include notTouch;
    &:hover {
        background-color: $back-button-color;
        color: rgb(57, 57, 57);
        border-radius: 1px;
    }

    &:active {
        background-color: darken($color: $back-button-color, $amount: 10);
        color: rgb(34, 34, 34);
        border-radius: 1px;
    }
}


