$header-height: 36px;
$toolbar-height: 27px;
$formula-height:  25px;
$table-height: 25px;

$db-create-height: 200px;
$db-title-height: 100px;

$border: #a9a9a9;
$back-button-color:rgb(243, 243, 243);
$green-excel-color:rgb(8, 152, 0);
$blue-active-color:rgb(81, 143, 187);
$important-color:rgb(240, 240, 255);