.db {
    height: 100vh;

    &__title {
        position: absolute;
        height: $db-title-height;
        left: 0;
        right: 0;
    }

    &__create {
        position: absolute;
        left: 0;
        right: 0;
        height: $db-create-height;
        top: $db-title-height;
        padding: 15px;
    }

    &__story {
        position: absolute;
        left: 0;
        right: 0;
        top: $db-create-height + $db-title-height;
    }
}

.db__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: $green-excel-color;
}

.db__create {
    background-color: rgb(221, 221, 221);
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    .btn-create {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 180px;
        min-height: 160px;
        border-radius: 5px;
        background-color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin-right: 15px;
    }

    .btn-create:hover {
        border: 1px $green-excel-color solid;
        color: $green-excel-color;
    }
}

.db__story {
    width: 100%;
    display: block;
    padding: 15px;
    h3 {
        font-weight: normal;
        margin-left: 5px;
        margin-right: 5px;
    }

    .title-story {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
    }

    .info-story {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }

    .info-story:hover{
        background-color: darken($color: #fff, $amount: 6);
    }
}
