.excel__formula{
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    height: $formula-height;
    top: $header-height + $toolbar-height;
    border-bottom: 1px solid $border;
    align-items: center;
    .info{
        @include notTouch;
        height: 100%;
        min-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
        font-weight: bold;
        font-size: 14px;
        border-right: 1px solid $border;
        padding-left: 8px;
        padding-right: 8px;
    }

    .input{
        width: 100%;
        height: 100%;
        display: flex;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        outline: none; 
        font-size: 12px;
    }
}