@import "_variables";
@import "_mixins";

.excel__header {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 8px 4px;
    justify-content: space-between;
    height: $header-height;
    align-items: center;
    font-size: 18px;
    border-bottom: 1px solid $border;

    input {
        border: 1px solid transparent;
        width: 120px;
        border-radius: 2px;
        height: 22px;
        font-weight: bold;
        color: rgb(47, 47, 47);
        &:hover {
            border: 1px solid $border;
        }

        &:active {
            border: 1px solid #ccc;
        }
    }

    .material-icons {
        font-size: 19px;
        margin-left: 5px;
        margin-right: 5px;
        @include button;
    }

    .left-content,
    .right-content {
        display: flex;
        align-items: center;
    }
}
