@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@import "header";
@import "toolbar";
@import "formula";
@import "table";

@import "dashboard";

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(99, 99, 99);
}

.excel{
    position: relative;
    height: 100vh;
}