.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  width: 100%;
  overflow-x: auto;

  .row {
    display: flex;
    width: 100%;
    min-height: 25px;
    flex-direction: row;
  }

  .row-info {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    min-width: 30px;
    max-width: 30px;
    border-right: 1px solid $border;
    border-bottom: 1px solid $border;
  }

  .row-data {
    display: flex;
    align-items: center;
  }

  .column {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    outline: none;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100px;
    min-width: 30px;
    height: 100%;
    border-right: 1px solid $border;
    border-bottom: 1px solid $border;
  }

  .column.selected{
    outline: 2.3px solid $blue-active-color;
    z-index: 100;
  }

  .row-info.important,
  .row-data.important {
    background-color: $important-color;
    @include notTouch;
    .column {
      background-color: $important-color;
    }
  }

  .col-data {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 100%;
    height: 100%;
  }

  .col-resize,
  .row-resize {
    position: absolute;
    z-index: 100;
    opacity: 0;
    background-color: rgb(91, 89, 89);
    &:hover {
      opacity: 1 !important;
    }
  }

  .col-resize {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -2px;
    width: 3px;
    &:hover {
      cursor: col-resize;
    }
  }

  .row-resize {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 3px;
    &:hover {
      cursor: row-resize;
    }
  }
}
