@import "variables";
@import "mixins";

.excel__toolbar {
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    top: $header-height;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: $toolbar-height;
    border-bottom: 1px solid $border;

    .material-icons{
        margin-right: 20px;
        font-size: 20px;
        @include button;
    }
}
